:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #f55a5a;
}

html,
body {
  margin: 0;
}

p {
  margin: 0.5rem 0;
}

@media (min-width: 1024px) {
  :root {
    font-size: 18px;
  }
}
