.header {
  background-color: var(--main-color);
  display: flex;
  color: white;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;

  .title {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
  }
}
