.app {
  background: url(react.svg) #282d35;
  background-blend-mode: luminosity;
  background-position: 113%;
  background-repeat: no-repeat;
  background-size: 400px;
  color: #fff;
  min-height: 100vh;
}

.container {
  padding: 1rem 2rem;
}
